* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

html {
  scroll-behavior: smooth;
  background-color: #d6d4d0;
}
 /* Style the header */
 .header {
    padding: 10px 16px;
    background: steelblue;
    color: #f1f1f1;
    display: flex;
    justify-content: space-between;
    -webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
  
  }

  
  
  /* The sticky class is added to the header with JS when
   it reaches its scroll position */
  .sticky {
    position: fixed;
    top: 0;
    width: 100%
  }
  
  /* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
  .sticky + .body {
    padding-top: 100px;
  } 


  ul li:hover {
	color: yellow;
}


ul {
    display: flex;
    text-decoration: none;
    list-style: none;
    gap: 5px;
} 
/* ----- */


body {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;
    gap: 50px;
    min-height: 100vh;
}


.body {
  display: flex;
  flex-direction: column;
  align-items: center;
}


footer {
    display: flex;
    width: 100%;
    margin-top: auto;
    background-color: steelblue;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  margin: 10px;
  padding: 10px;
  scroll-margin-top: 60px;
  color:rgba(0, 0, 0, 0.4);
}



section:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}


/* --- ABOUT --- */

#about {
  display: flex;
}

.pfp {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  object-position: 25% 0;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.wrp {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}


/* -- */



#about {
  display: inline-block;
  position: relative;
  color: #0087ca;
}

#about:after > p:after{
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #0087ca;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

#about:hover:after > p:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

p:after{
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #0087ca;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

p:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}