* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  margin: 0;
  font-size: 15px;
}

html {
  scroll-behavior: smooth;
  background-color: #d6d4d0;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 20px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: #f45959;
  color: white;
}

.modal-body {
  padding: 2px 16px;
}

.modal-footer {
  padding: 2px 16px;
  background-color: #f45959;
  color: white;
}

/* Style the header */
.header {
  padding: 10px 16px;
  background: steelblue;
  z-index: 2;
  color: #f1f1f1;
  display: flex;
  justify-content: space-between;
  -webkit-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
}

h2 {
  font-size: 20px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .body {
  padding-top: 100px;
}

div.ulnav > ul {
  display: flex;
  text-decoration: none;
  list-style: none;
  gap: 5px;
}

.wip {
  display: flex;
  align-items: center;
  background-color: #f45959;
  width: 20px;
  height: 20px;
  color: white;
  border: none;
  border-radius: 20px;
  margin-top: 2px;
  cursor: pointer;
  text-align: center;
  padding-left: 6.5px;
}

.left-header {
  display: flex;
  gap: 10px;
}

/* ----- */

body {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-between;
  gap: 10px;
}

.body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  background-color: white;
  color: black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 10px;
  padding: 10px;
  scroll-margin-top: 60px;
}

.tempSection:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container-title {
  font-size: 20px;
  font-weight: bold;
  border-color: black;
}

.title {
  font-size: 15px;
  font-weight: bold;
}

/* Hover Effect */

section:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: -10px;
  padding-left: 20px;
  background-color: #0087ca;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
  position: relative;
}

section:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

#edu-content {
  display: flex;
  flex-direction: row;
}

/* --- ABOUT --- */

.info,
.edu-left {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: 5px;
}

.pfp {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  object-position: 25% 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  flex-shrink: 1;
}

.wrp {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

/* -------- */

footer {
  display: flex;
  width: 100%;
  margin-top: auto;
  background-color: steelblue;
}

/* -------- */

.tempSection {
  display: flex;
  flex-direction: column;
  width: 60%;
  background-color: white;
  color: black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 10px;
  padding: 1%;
  scroll-margin-top: 60px;
}

.container-title-test {
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: 20px;
}

.section-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  color: black;
}

.bp1 {
  display: flex;
  flex-direction: row;
}

.main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}

ul {
  list-style: "↪ ";
}

.sdoh {
  display: flex;
  align-items: center;
  height: 80%;
  width: 80%;
  margin: 10px;
}

.left-content {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 200%;
}

.right-content {
  display: flex;
  padding-right: 15px;
  flex-direction: column;
}

.temp-title {
  font-weight: bold;
  font-size: 15px;
}

.sub {
  font-weight: normal;
}

a {
  text-decoration: none;
  font-weight: bold;
}

/*
.tempSection:after {
  content: '';
  position: absolute;
  width: 102.3%;
  transform: scaleX(0);
  height: 1px;
  padding-bottom: 1px;
  margin-left: -7px;
  margin-bottom: -8px;
  background-color: #0087ca;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
  position: relative;
}

.tempSection:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

*/

.skill-icons2 {
  display: flex;
  width: 100%;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  height: auto;
}

.skills-icons {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: repeat(2, 1fr);
  grid-column-gap: 10px;
}

.skillIcon {
  display: flex;
  justify-content: center;
}

#skills {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 5px;
}

#sql,
#tableau {
  height: 3em;
  width: 3em;
  margin-left: 4.5em;
  padding-top: 5px;
}

.proj {
  display: flex;
  gap: 20px;
  flex-direction: column;
  margin: 5px 0;
}

.proj-text {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.title-wrap {
  display: flex;
  gap: 10px;
  align-items: center;
}

hr {
  width: 100%;
}

.thumb {
  flex-shrink: 2;
  height: 10%;
  width: 70%;
}

.img-wrap a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fa-up-right-from-square,
.fa-file-code,
.fa-github {
  color: black;
  transition: transform 0.2s ease-in-out;
  padding-bottom: 1px;
}

.fa-up-right-from-square:hover,
.fa-file-code:hover,
.fa-github:hover {
  transform: translateY(-5px);
  color: blue;
}

.tags {
  display: flex;
  list-style: none;
  padding-left: 0;
}

.tags li {
  border-style: solid;
  border-radius: 3px;
  margin: 3px;
  padding: 2px 5px;
  border-width: 1.5px;
}

/* Table */

#sql-tab {
  border: 1px solid;
  border-collapse: collapse;
  padding: 5px;
}

#sql-tab th {
  border: 1px solid;
  padding: 5px;
  color: white;
  border-color: black;
  background: #358ccb;
}

#sql-tab td {
  border: 1px solid;
  text-align: left;
  padding: 5px;
}

.fig-cap {
  font-size: 11px;
  color: #d1cfcf83;
}
